<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

	<Package Name="Simple Game Overlay"
			 Manufacturer="SGO"
			 Version="1.0.0.0"
			 UpgradeCode="8f14e45f-ceea-467e-adae-1234567890ab">

		<MajorUpgrade DowngradeErrorMessage="A newer version of Simple Game Overlay is already installed." />

		<MediaTemplate EmbedCab="yes" />

		<StandardDirectory Id="ProgramMenuFolder">
			<Directory Id="ApplicationProgramsFolder" Name="Simple Game Overlay" />
		</StandardDirectory>

		<Feature Id="MainFeature" Title="Simple Game Overlay" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="ApplicationShortcut" />
			<ComponentRef Id="AutostartRegistryEntry" />
		</Feature>

		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Files Include="$(var.SimpleGameOverlay.TargetDir)**" />
		</ComponentGroup>

		<Component Id="ApplicationShortcut" Directory="ApplicationProgramsFolder" Guid="*">
			<Shortcut Id="AppStartMenuShortcut"
					  Name="Simple Game Overlay"
					  Target="[INSTALLFOLDER]SimpleGameOverlay.exe"
					  WorkingDirectory="INSTALLFOLDER" />
			<RemoveFolder Id="CleanUpShortcutFolder" On="uninstall" />
			<RegistryValue Root="HKCU" Key="Software\SimpleGameOverlay" Name="installed" Type="integer" Value="1" KeyPath="yes" />
		</Component>

		<Component Id="AutostartRegistryEntry" Directory="INSTALLFOLDER" Guid="*">
			<RegistryValue Root="HKCU"
						   Key="Software\Microsoft\Windows\CurrentVersion\Run"
						   Name="SimpleGameOverlay"
						   Value="[INSTALLFOLDER]SimpleGameOverlay.exe"
						   Type="string"
						   KeyPath="yes" />
		</Component>

	</Package>
</Wix>